*, *::before, *::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.u-red {
  color: red;
}

.u-center-text {
  text-align: center;
}

.u-color-primary {
  color: #05386b;
}

.u-color-secondary {
  color: #379683;
}

.u-color-grey {
  color: #303030;
}

.u-left-text {
  width: 80%;
  text-align: left;
  margin: 0 auto;
  font-size: 0.6rem;
}

.u-pos-relative {
  position: relative;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-large {
  margin-bottom: 3rem;
}

.u-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-background-primary {
  background: #05386b;
}

.u-background-secondary {
  background-color: #379683;
}

.flex {
  display: flex;
}
.flex__space-around {
  justify-content: space-around;
}
.flex__justify-center {
  justify-content: center;
}

.col-1 {
  flex: 0 0 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
}

.heading {
  font-family: "Montserrat", sans-serif;
}
.heading__primary {
  color: #05386b;
}
.heading__secondary {
  color: #379683;
}
.heading__white {
  color: #edf5e1;
}
.heading--jumbo {
  font-size: 4rem;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 28em) {
  .heading--jumbo {
    font-size: 2rem;
    width: 100%;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.btn__primary {
  color: white;
  background: #0D6EFD;
}
.btn__primary:hover {
  background: #0B5ED7;
  color: #DAE7F9;
}
.btn__secondary {
  background: #edf5e1;
  color: #198754;
  border: 1px solid #198754;
}
.btn__secondary:hover {
  background: #157347;
  color: #edf5e1;
  border: 1px solid #303030;
}
.btn__tertiary {
  color: #05386b;
  background: #edf5e1;
  border: 2px solid #05386b;
  transition: all 0.4s ease;
}
.btn__tertiary:hover {
  background: #05386b;
  color: #edf5e1;
  border: 2px solid #edf5e1;
}
.btn__large {
  font-size: 1.2rem;
}

.chat {
  position: absolute;
  bottom: 0;
  right: 0;
  width: min(32rem, 100%);
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;
  border-radius: 3px;
}
.chat h1 {
  margin-left: 0.75rem;
  font-size: 1.4rem;
  padding-top: 0.25rem;
  font-weight: 500;
  color: #fff;
}
.chat__close {
  display: flex;
  justify-content: space-between;
  background: #303030;
}
.chat__btn {
  color: #edf5e1;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  width: 1rem;
  height: 1.8rem;
  position: relative;
  transition: all 0.3s ease-out;
}
.chat__btn:hover {
  background: #D11A2A;
}
.chat__btn div {
  margin-top: 0.9rem;
  background: transparent;
  position: relative;
}
.chat__btn div, .chat__btn div::before, .chat__btn div::after {
  height: 2px;
  width: 1.2rem;
  display: inline-block;
}
.chat__btn div::before, .chat__btn div::after {
  background: #fff;
  content: "";
  position: absolute;
  left: 0;
  transition: all 1.2s;
}
.chat__btn div::after {
  transform: rotate(-135deg);
}
.chat__btn div::before {
  transform: rotate(135deg);
}
.chat__btn--expand > div {
  background-color: #fff;
  transition: background-color 0.6s 0.8s;
  transform: rotate(90deg);
}
.chat__btn--expand > div::after, .chat__btn--expand > div::before {
  width: 60%;
}
.chat__btn--expand > div::after {
  transform: rotate(45deg);
  top: 0.2rem;
  left: -0.1rem;
}
.chat__btn--expand > div::before {
  top: -0.2rem;
  left: -0.1rem;
}
.chat__main {
  height: 17.2rem;
  border: 2px solid #05386b;
  border-top: 0;
  border-bottom: 0;
  transition: all 0.6s ease-in;
}
.chat__main--hide {
  height: 0;
  visibility: hidden;
}
.chat__messages {
  height: 15rem;
  overflow-y: scroll;
  background: #dee2e6;
}
.chat__user {
  font-weight: 700;
}
.chat__user--main {
  color: #05386b;
}
.chat__user--alt {
  color: #379683;
}
.chat__item {
  background-color: #dee2e6;
}
.chat__item:nth-of-type(2n) {
  background-color: #c1c9d0;
}
.chat__item > p {
  display: inline-block;
  color: #303030;
}
.chat__item > p::first-letter {
  margin-left: 0.25rem;
}
.chat__hidden {
  height: 0;
  visibility: hidden;
}
.chat__form {
  display: flex;
}
.chat__form > input {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  flex: 1 0 80%;
}
.chat__form > button {
  flex: 0 0 20%;
}
.chat__form > input {
  border: none;
}
.list {
  list-style: none;
  font-family: "Noto Sans JP", sans-serif;
  width: 80%;
  margin: 0 auto;
}
.list__quiz {
  overflow: hidden;
  background-color: #edf5e1;
  border-radius: 5px;
  margin-top: 0.5rem;
}
@media (max-width: 28em) {
  .list {
    width: 100%;
  }
}
.list__item {
  border: 1px solid #303030;
  padding: 0.45rem 1rem;
}
.list__item:first-of-type {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}
.list__item:last-of-type {
  border-radius: 0 0 5px 5px;
  border-top: none;
}
.list__item--index {
  background: linear-gradient(to right bottom, #05386b, rgba(142, 228, 175, 0.6));
  color: #dee2e6;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  border-radius: 2px 50% 50% 50%;
  min-width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.list__body {
  display: flex;
  flex: 1 0 100%;
}
.list__body span {
  margin-right: 0.75rem;
}
.list__body a {
  margin-left: auto;
  align-self: center;
  text-decoration: none;
  color: #05386b;
  font-size: 3rem;
  padding: 0 2rem;
}
.list__body a:hover {
  color: #379683;
}

.quiz {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: #05386b;
}
.quiz__history {
  background: #D11A2A;
  flex: 0 0 20%;
}
.quiz__content {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  background: #303030;
  min-height: 80vh;
  margin: 5rem auto;
}
.quiz__content > h1 {
  padding: 1rem 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: #edf5e1;
}
.quiz__question {
  width: 100%;
  background: #edf5e1;
  flex: 0 1;
}
.quiz__question > h1 {
  text-align: center;
  font-size: 1.85rem;
  padding: 1rem 0.25rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  width: 45ch;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
.quiz__answer {
  background: #edf5e1;
  flex: 1;
  padding: 2.5rem 0;
  display: flex;
  gap: 2.5rem 0;
  flex-wrap: wrap;
  justify-content: space-around;
}
.quiz__answer--multiple {
  width: max(40%, 25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  border-radius: 2px;
}
.quiz__answer--multiple > p {
  font-family: "Noto Sans JP", sans-serif;
  width: 66%;
}

.landing {
  position: relative;
  height: 100vh;
}
.landing > div:first-of-type {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing__controls {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 35vh;
  width: 100%;
}
@media (max-width: 40em) {
  .landing__controls > div {
    flex: 1;
  }
}

.logo {
  max-width: 30rem;
}
@media (max-width: 28em) {
  .logo {
    max-width: 12rem;
  }
}
.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0 0.8rem 0;
  animation: logo 0.8s ease-in forwards;
}
@media (max-width: 28em) {
  .logo__container {
    animation: logo-phone 0.8s ease-in forwards;
  }
}

@keyframes logo {
  0% {
    transform: scale(0.3);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes logo-phone {
  0% {
    transform: scale(0.3);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.8);
  }
}
.quizList {
  background-color: #05386b;
  border-radius: 3px;
  border: 1.5px solid #379683;
  width: 60%;
  min-width: 30rem;
  margin: 4rem auto 0 auto;
  padding: 1rem 0 2.5rem 0;
  min-height: 2rem;
}
.quizList > h3 {
  color: #edf5e1;
  font-size: 1.8rem;
}
@media (max-width: 40em) {
  .quizList {
    width: 100%;
    min-width: 100%;
  }
}

body {
  background: #edf5e1;
}

.hidden {
  visibility: hidden;
}

.form {
  position: relative;
}
.form__main {
  background-color: white;
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  max-width: 50%;
  min-width: 25rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
}
@media (max-width: 28em) {
  .form__main {
    max-width: 100%;
    min-width: 100%;
  }
}
.form__sub {
  position: absolute;
  width: 100%;
  top: 0;
}
.form-switch {
  margin-bottom: 2rem;
}
.form-switch label {
  text-align: left;
  display: block;
}
.multipleChoice__answer {
  width: 80%;
  margin: 0 auto;
}

.form-floating {
  max-width: 25rem;
  margin: 0.5rem auto;
}

#quiz_submit {
  display: inline-block;
  background: green;
  margin: 0 auto;
  padding: 0.35rem 0.7rem;
  cursor: pointer;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}

#next_question {
  background: chartreuse;
  display: inline-block;
  margin: 0.5rem auto;
  padding: 0.35rem 0.7rem;
  border-radius: 3px;
}

#custom_question {
  max-width: 25rem;
}

/*# sourceMappingURL=index.css.map */
