*, *::before, *::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@keyframes spin {
  0% {
    width: 150px;
    transform: rotate(0);
    border-radius: 0;
  }
  100% {
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(540deg);
    border-radius: 50%;
  }
}
@keyframes spinOut {
  0% {
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(540deg);
    border-radius: 50%;
  }
  40% {
    transform: rotate(540deg);
    border-radius: 0;
  }
  100% {
    width: 150px;
    transform: rotate(0);
    border-radius: 0;
  }
}
.u-center-text {
  text-align: center;
}

.u-color-primary {
  color: #05386b;
}

.u-color-secondary {
  color: #379683;
}

.u-color-grey {
  color: #303030;
}

.u-color-white {
  color: #fff;
}

.u-color-red {
  color: #D11A2A;
}

.u-left-text {
  width: 80%;
  text-align: left;
  margin: 0 auto;
  font-size: 0.6rem;
}

.u-pos-relative {
  position: relative;
}

.u-margin-bottom-tiny {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-large {
  margin-bottom: 3rem;
}

.u-padding-tiny {
  padding: 0.25rem 0;
}

.u-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-background-primary {
  background: #05386b;
}

.u-background-secondary {
  background-color: #379683;
}

.flex {
  display: flex;
}
.flex__space-around {
  justify-content: space-around;
}
.flex__justify-center {
  justify-content: center;
}
.flex__justify-end {
  justify-content: flex-end;
}

.col-1 {
  flex: 0 0 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
}

.heading {
  font-family: "Montserrat", sans-serif;
}
.heading__primary {
  color: #05386b;
}
.heading__secondary {
  color: #379683;
}
.heading__white {
  color: #edf5e1;
}
.heading--jumbo {
  font-size: 4rem;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 28em) {
  .heading--jumbo {
    font-size: 2rem;
    width: 100%;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.btn__primary {
  color: white;
  background: #0D6EFD;
}
.btn__primary:hover {
  background: #0B5ED7;
  color: #DAE7F9;
}
.btn__secondary {
  background: #157347;
  color: #edf5e1;
  border: 2px solid #115c39;
  transition: all 0.4s ease;
}
.btn__secondary:hover {
  background: #edf5e1;
  color: #198754;
  border: 2px solid #198754;
}
.btn__tertiary {
  transition: all 0.4s ease;
  background: #D11A2A;
  color: #edf5e1;
  border: 2px solid #a41421;
}
.btn__tertiary:hover {
  color: #D11A2A;
  background: #edf5e1;
  border: 2px solid #D11A2A;
}
.btn__large {
  font-size: 1.2rem;
}
.btn:hover {
  cursor: pointer;
}

.chat {
  position: fixed;
  bottom: 0;
  right: 2rem;
  width: min(32rem, 100%);
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;
  border-radius: 3px;
}
@media (max-width: 40em) {
  .chat {
    right: 0;
  }
}
.chat h1 {
  margin-left: 0.75rem;
  font-size: 1.4rem;
  padding-top: 0.25rem;
  font-weight: 500;
  color: #fff;
}
.chat__close {
  display: flex;
  justify-content: space-between;
  background: #05386b;
}
.chat__btn {
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  width: 1rem;
  height: 1.8rem;
  position: relative;
  transition: all 0.3s ease-out;
}
.chat__btn:hover {
  background: #D11A2A;
}
.chat__btn div {
  margin-top: 0.9rem;
  background: transparent;
  position: relative;
}
.chat__btn div, .chat__btn div::before, .chat__btn div::after {
  height: 2px;
  width: 1.2rem;
  display: inline-block;
}
.chat__btn div::before, .chat__btn div::after {
  background: #fff;
  content: "";
  position: absolute;
  left: 0;
  transition: all 1.2s;
}
.chat__btn div::after {
  transform: rotate(-135deg);
}
.chat__btn div::before {
  transform: rotate(135deg);
}
.chat__btn--expand > div {
  background-color: #fff;
  transition: background-color 0.6s 0.8s;
  transform: rotate(90deg);
}
.chat__btn--expand > div::after, .chat__btn--expand > div::before {
  width: 60%;
}
.chat__btn--expand > div::after {
  transform: rotate(45deg);
  top: 0.2rem;
  left: -0.1rem;
}
.chat__btn--expand > div::before {
  top: -0.2rem;
  left: -0.1rem;
}
.chat__main {
  max-height: 100rem;
  transition: all 0.8s linear;
}
.chat__main--hide {
  max-height: 0;
  visibility: hidden;
}
.chat__messages {
  height: 15rem;
  overflow-y: scroll;
  scrollbar-color: #303030 #dee2e6;
  scrollbar-width: thin;
  background: #dee2e6;
  padding: 0.25rem 0.5rem;
}
.chat__user {
  font-weight: 700;
}
.chat__user--main {
  color: #05386b;
}
.chat__user--alt {
  color: #379683;
}
.chat__item {
  background-color: #dee2e6;
}
.chat__item:nth-of-type(2n) {
  background-color: #c1c9d0;
}
.chat__item > p {
  display: inline-block;
  color: #303030;
}
.chat__item > p::first-letter {
  margin-left: 0.25rem;
}
.chat__hidden {
  height: 0;
  visibility: hidden;
}
.chat__form {
  display: flex;
}
.chat__form > input {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  flex: 1 0 80%;
}
.chat__form > button {
  flex: 0 0 20%;
}
.chat__form > input {
  border: none;
}
.chat__username {
  display: flex;
  background: #dee2e6;
}
.chat__username > p {
  margin-right: 1rem;
}
.chat__username > input {
  flex: 1;
}
.list {
  list-style: none;
  font-family: "Noto Sans JP", sans-serif;
  width: 80%;
  margin: 0 auto;
}
.list__quiz {
  overflow: hidden;
  background-color: #edf5e1;
  border-radius: 5px;
  margin-top: 0.5rem;
}
@media (max-width: 28em) {
  .list {
    width: 100%;
  }
}
.list__item {
  border: 1px solid #303030;
  padding: 0.45rem 1rem;
}
.list__item:first-of-type {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}
.list__item:last-of-type {
  border-radius: 0 0 5px 5px;
  border-top: none;
}
.list__item--index {
  background: linear-gradient(to right bottom, #05386b, rgba(142, 228, 175, 0.6));
  color: #dee2e6;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  border-radius: 2px 50% 50% 50%;
  min-width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.list__body {
  display: flex;
  flex: 1 0 100%;
}
.list__body span {
  margin-right: 0.75rem;
}
.list__body a {
  margin-left: auto;
  align-self: center;
  text-decoration: none;
  color: #05386b;
  font-size: 3rem;
  padding: 0 2rem;
}
.list__body a:hover {
  color: #379683;
}

.modal {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(48, 48, 48, 0.8);
  z-index: 1000;
  transition: all 0s !important;
}

.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.form__floating {
  position: relative;
  background: yellow;
}
.form__floating > input {
  font-size: 1.2rem;
  height: 100%;
  padding: 1.6rem 1rem 0.4rem 1rem;
  color: #303030;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.form__floating > input::placeholder {
  color: transparent;
}
.form__floating input:not(:placeholder-shown) + label, .form__floating input:focus + label {
  transform: scale(0.7) translateY(-1.7rem) translateX(-2.5rem);
  opacity: 0.5;
}
.form__floating > label {
  font-family: "Noto Sans JP", sans-serif;
  color: #303030;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}
.form__error {
  font-family: "Montserrat", sans-serif;
}
.form__error--white {
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}

.quiz {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: #edf5e1;
  overflow: hidden;
}
.quiz__history {
  position: relative;
  background: #303030;
  flex: 0 0 20%;
  max-height: 100vh;
}
.quiz__history--answers {
  overflow-y: scroll;
  height: 100%;
}
.quiz__history--answers > h1 {
  margin-top: 2rem;
}
@media (max-width: 40em) {
  .quiz__history--answers > h1 {
    margin-top: 0.5rem;
  }
}
.quiz__history--answers > h1, .quiz__history--answers h6 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  color: #edf5e1;
}
.quiz__history--answers > h6 {
  color: #379683;
  font-weight: 600;
  margin-bottom: 2rem;
}
.quiz__history--answers > ol li {
  position: relative;
  list-style-position: inside;
  font-family: "Noto Sans JP", sans-serif;
  padding: 0 1rem 0.8rem 1rem;
  font-size: 1.1rem;
  background: #565656;
  color: #fff;
  cursor: pointer;
}
.quiz__history--answers > ol li:hover {
  background: #05386b;
}
.quiz__history--answers > ol li::marker {
  font-family: "Montserrat", sans-serif;
  color: yellow !important;
  font-size: 2rem;
  display: inline-flex;
  position: absolute;
  top: -1rem;
}
.quiz__history--answers > ol li:nth-of-type(2n) {
  background: #4a4a4a;
  color: #fff;
}
.quiz__history--answers > ol li:nth-of-type(2n):hover {
  background: #05386b;
}
@media (max-width: 65em) {
  .quiz__history {
    position: relative;
    flex: 0 0 0%;
    visibility: hidden;
    width: 0;
    transition: all 0.6s ease-in;
  }
  .quiz__history--answers {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s 0.8s ease-in;
  }
  .quiz__history--expand {
    flex: 1 0 90%;
    width: 90%;
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
    padding-bottom: 2.1rem;
  }
  .quiz__history--expand .quiz__history--answers {
    overflow-y: scroll;
    opacity: 1;
    visibility: visible;
    width: 100%;
    transition: visibility 0.1s 0.9s, opacity 0.1s 1s ease-in;
  }
}
@media (max-width: 28em) {
  .quiz__history > * {
    opacity: 0;
  }
  .quiz__history--expand {
    flex: 1 0 100%;
  }
  .quiz__history--expand > * {
    opacity: 1;
  }
  .quiz__history--expand > .quiz__history--btn {
    transform: translate(0%);
    background: #D11A2A;
    border: 2px solid transparent;
    border-radius: 2px 0 0 2px;
  }
  .quiz__history--expand > .quiz__history--btn > div {
    background: transparent;
  }
  .quiz__history--expand > .quiz__history--btn > div::before, .quiz__history--expand > .quiz__history--btn > div::after {
    top: 0;
    transition: all 1s;
    background: #fff;
  }
  .quiz__history--expand > .quiz__history--btn > div::before {
    transform: rotate(45deg);
  }
  .quiz__history--expand > .quiz__history--btn > div::after {
    transform: rotate(135deg);
  }
}
.quiz__history--btn {
  visibility: hidden;
  background: #edf5e1;
  border: 2px solid #303030;
  border-radius: 0 2px 2px 0;
  position: absolute;
  height: 1.75rem;
  width: 1.75rem;
  right: 0;
  transform: translate(99%);
}
.quiz__history--btn > div {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  width: 80%;
  transform: translate(-50%, -50%);
  background: #303030;
  cursor: pointer;
}
.quiz__history--btn > div::before, .quiz__history--btn > div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: inherit;
}
.quiz__history--btn > div::before {
  top: 6px;
}
.quiz__history--btn > div::after {
  top: -6px;
}
@media (max-width: 65em) {
  .quiz__history--btn {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 28em) {
  .quiz__history--btn {
    right: 0;
  }
}
.quiz__content {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  border: 3px solid #dee2e6;
  border-radius: 3px;
  overflow: hidden;
  background: #303030;
  position: relative;
  min-height: 80vh;
  margin: 5rem auto;
}
.quiz__content--hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
  padding: 0;
  transition: all 0.2s ease-out;
}
@media (max-width: 40em) {
  .quiz__content {
    flex: 0 0 90%;
    margin: 2rem auto 2.5rem auto;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s 0.8s ease-in;
  }
}
@media (max-width: 28em) {
  .quiz__content {
    flex: 1;
  }
}
.quiz__question {
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.quiz__question > h1 {
  position: relative;
  text-align: center;
  font-size: 1.85rem;
  padding: 2rem 0.25rem 1rem 0.25rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  width: min(45ch, 100%);
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin: 0 auto;
  z-index: 1000;
}
.quiz__question--background {
  width: 110%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  filter: drop-shadow(-1px 6px 3px rgba(237, 245, 225, 0.2));
}
.quiz__question--background::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  clip-path: polygon(50% 0%, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0 50%, 6% 0);
  background: #05386b;
}
.quiz__answer {
  display: block;
  height: 100%;
  padding-top: 3.5rem;
}
.quiz__answer--container {
  width: 100%;
  height: min(25rem, 75%);
  flex: 1;
  padding: 2.5rem 0;
  display: flex;
  gap: 2.5rem 0;
  flex-wrap: wrap;
  justify-content: space-around;
}
.quiz__answer--multiple {
  width: max(40%, 22rem);
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #05386b;
  background: #dee2e6;
  color: #303030;
  border-radius: 2px;
  filter: drop-shadow(-1px 6px 3px rgba(212, 175, 55, 0.2));
  cursor: pointer;
}
.quiz__answer--multiple:hover {
  background: #379683;
  border: 2px solid #45bba3;
  color: #dee2e6;
}
.quiz__answer--multiple > p {
  font-family: "Noto Sans JP", sans-serif;
  width: 66%;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
  pointer-events: none;
}
.quiz__answer--written {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quiz__answer--list {
  background: rgba(5, 56, 107, 0.4);
  width: 80%;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 2rem 0;
}
.quiz__answer--list-item {
  background: #379683;
  padding: 0.5rem;
  clip-path: polygon(50% 0%, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0 50%, 6% 0);
}
@media (max-width: 40em) {
  .quiz__answer--list {
    height: calc(100% - 16rem);
    overflow: scroll;
    padding: 0.5rem 0;
  }
  .quiz__answer--list-item {
    padding: 0.2rem 0;
    flex: 0 0 80%;
    background: maroon;
  }
}
.quiz__answer--display-written {
  position: absolute;
  top: 6rem;
  width: 100%;
  height: calc(100% - 3.5rem);
  background: #303030;
  margin-top: 1rem;
  color: #fff;
}
.quiz__answer--display-written > div {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}
.quiz__answer--display-written > div > p {
  width: max-content;
  margin: 0 auto;
}
.quiz__answer--display-written > div > p:last-of-type {
  background: rgba(48, 48, 48, 0.2);
  padding: 0 0.5rem;
  margin: 1rem auto;
  font-size: 2.1rem;
}
@media (max-width: 28em) {
  .quiz__answer--display-written > div > p {
    margin: 0 1rem;
  }
  .quiz__answer--display-written > div > p:last-of-type {
    margin: 0.5rem 1rem;
  }
}
.quiz__answer--submit > button {
  display: block;
  background: #198754;
  border-radius: 4px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1px;
  align-self: center;
  padding: 0.5rem 1rem;
  border: none;
  margin: 4rem auto 1rem auto;
  transition: color 1s 0.3s ease-out;
  cursor: pointer;
  color: #fff;
  border: 2px solid #198754;
}
.quiz__answer--submit > button:hover {
  background: #177e4f;
}
.quiz__answer--submit > button::before, .quiz__answer--submit > button::after {
  content: "";
  position: absolute;
  width: 4px;
  opacity: 0;
}
.quiz__answer--submit > button::before {
  height: 1.3rem;
  bottom: 8px;
  left: 15px;
  transform: rotate(45deg);
  background: green;
}
.quiz__answer--submit > button::after {
  position: absolute;
  height: 0.6rem;
  bottom: 18px;
  left: 24px;
  transform: rotate(315deg);
  background: green;
}
.quiz__answer--submit-check > button {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid green;
  background: #dee2e6;
  position: relative;
  color: transparent;
  transition: height 0.8s ease-in, width 0.8s ease-in, border-radius 0.8s ease-in;
  animation: spin 0.8s forwards ease-in-out;
}
.quiz__answer--submit-check > button::before, .quiz__answer--submit-check > button::after {
  content: "";
  position: absolute;
  width: 4px;
  opacity: 1;
  transition: opacity 0.2s 0.6s;
}
.quiz__answer--selected {
  background: #379683;
  color: #dee2e6;
  border: 2px solid #45bba3;
}
.quiz__controls {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 1rem;
}
@media (max-width: 40em) {
  .quiz__controls {
    position: relative;
  }
}
.quiz__result {
  background: #05386b;
  padding: 2rem 0;
  position: relative;
  z-index: 1000;
  transition: opacity 0.4s ease-in;
}
.quiz__result > div:first-of-type {
  position: absolute;
  top: 0;
}
.quiz__result--btn {
  display: inline-block;
  position: relative;
  background-color: #fff;
  padding: 0.5rem;
  height: 1rem;
  width: 1rem;
}
.quiz__result--btn::before, .quiz__result--btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #D11A2A;
  height: 3px;
  width: 75%;
}
.quiz__result--btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.quiz__result--btn::after {
  transform: translate(-50%, -50%) rotate(135deg);
}
.quiz__result--total {
  position: relative;
  height: 11rem;
  width: 11rem;
  background: #edf5e1;
  border-radius: 50%;
  margin: 1rem 5rem;
}
.quiz__result--total > div {
  color: #05386b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
}
.quiz__result--total > div > p {
  margin: 1rem 0;
}

.isCorrect {
  background: #198754;
  border: 2px solid #d4af37;
  color: #d4af37;
}
.isCorrect__icon {
  display: inline-block;
  height: calc(100% - 4px);
  border: 3px solid #198754;
  background: #05386b;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 40em) {
  .isCorrect__icon {
    right: 0;
  }
}
.isCorrect__icon::before, .isCorrect__icon::after {
  content: "";
  height: 80%;
  width: 5px;
  position: absolute;
}
.isCorrect__icon--correct {
  border-color: #198754;
  background: #d4af37;
}
.isCorrect__icon--correct::before {
  height: 2rem;
  bottom: 16px;
  left: 33px;
  transform: rotate(45deg);
  background: #198754;
}
.isCorrect__icon--correct::after {
  position: absolute;
  height: 1rem;
  bottom: 18px;
  left: 19px;
  transform: rotate(315deg);
  background: #198754;
}
.isCorrect__icon--incorrect {
  border-color: #D11A2A;
  background: #fff;
}
.isCorrect__icon--incorrect::before, .isCorrect__icon--incorrect::after {
  top: 50%;
  left: 50%;
  background: #D11A2A;
}
.isCorrect__icon--incorrect::before {
  transform: translate(-50%, -50%) rotate(135deg);
}
.isCorrect__icon--incorrect::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.isIncorrect {
  background: #D11A2A;
  border: 2px solid #303030;
}

.landing {
  position: relative;
  height: 100vh;
}
.landing > div:first-of-type {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing__controls {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 35vh;
  width: 100%;
}
@media (max-width: 40em) {
  .landing__controls > div {
    flex: 1;
  }
}

.logo {
  max-width: 30rem;
}
@media (max-width: 28em) {
  .logo {
    max-width: 12rem;
  }
}
.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0 0.8rem 0;
  animation: logo 0.8s ease-in forwards;
}
@media (max-width: 28em) {
  .logo__container {
    animation: logo-phone 0.8s ease-in forwards;
  }
}

@keyframes logo {
  0% {
    transform: scale(0.3);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes logo-phone {
  0% {
    transform: scale(0.3);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.8);
  }
}
.quizList {
  background-color: #05386b;
  border-radius: 3px;
  border: 1.5px solid #379683;
  width: 60%;
  min-width: 30rem;
  margin: 4rem auto 0 auto;
  padding: 1rem 0 2.5rem 0;
  min-height: 2rem;
}
.quizList > h3 {
  color: #edf5e1;
  font-size: 1.8rem;
}
@media (max-width: 40em) {
  .quizList {
    width: 100%;
    min-width: 100%;
  }
}

body {
  background: #edf5e1;
}

.hidden {
  visibility: hidden;
}

.form {
  position: relative;
}
.form__main {
  background-color: white;
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  max-width: 50%;
  min-width: 25rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
}
@media (max-width: 28em) {
  .form__main {
    max-width: 100%;
    min-width: 100%;
  }
}
.form__sub {
  position: absolute;
  width: 100%;
  top: 0;
}
.form-switch {
  margin-bottom: 2rem;
}
.form-switch label {
  text-align: left;
  display: block;
}
.multipleChoice__answer {
  width: 80%;
  margin: 0 auto;
}

.form-floating {
  max-width: 25rem;
  margin: 0.5rem auto;
}

#quiz_submit {
  display: inline-block;
  background: green;
  margin: 0 auto;
  padding: 0.35rem 0.7rem;
  cursor: pointer;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}

#next_question {
  background: chartreuse;
  display: inline-block;
  margin: 0.5rem auto;
  padding: 0.35rem 0.7rem;
  border-radius: 3px;
}

#custom_question {
  max-width: 25rem;
}

/*# sourceMappingURL=index.css.map */
