@use 'sass:map';

$breakpoints: (
    phone: 28em,
    small:40em,
    medium: 65em,
    large: 90em
);

@mixin mq($key, $custom: false){
    $size: $key;
    @if $custom {
        $size: $key;
    } @else {
        $size: map.get($breakpoints, $key);
    }

    @media(max-width: $size){
        @content;
    }
}