$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Noto Sans JP', sans-serif;
$color-primary: #05386b;
$color-secondary: #379683;
$color-secondary-2: #5cdb95;
$color-secondary-3: #8ee4af;
$color-tertiary: #edf5e1;   
$color-grey: #dee2e6;
$color-grey-dark: #303030;
$color-white: #fff;
$color-red: #D11A2A;
$color-green: #198754;
$color-gold: #d4af37;
$gradient-primary: linear-gradient(to right bottom, 
                                    rgba($color-primary, 1),
                                    rgba($color-secondary-3, .6));

                                