@import "base/utilities.scss";
@import "base/base.scss";

body{
    background: blueviolet;
}

.hidden{
    visibility: hidden;
}

.form{
    position: relative;
    // min-height: 35vh;
    &__main{
        background-color: white;
        border: 1px solid #9d9d9d;
        border-radius: 5px;
        max-width: 50%;
        min-width: 25rem;
        margin: 0 auto;
        text-align: center;
        padding: .5rem;
        // min-width: 100vw;
        @include mq("phone"){
            max-width: 100%;
            min-width: 100%;
        }
    }
    &__sub{
        position: absolute;
        width: 100%;
        top: 0;
    }
    &-switch{
        margin-bottom: 2rem;
        & label{
            text-align: left;
            display: block;
        }
        & input{
            // margin-left: 2rem;
        }
    }
}

.multipleChoice{
    &__answer{
        width: 80%;
        margin: 0 auto;
    }
}

//BOOTSTRAP CLASS MODIFICATIONS

.form-floating{
    max-width: 25rem;
    margin: .5rem auto;
}
#quiz_submit{
    display: inline-block;
    background: green;
    margin: 0 auto;
    padding: .35rem .7rem;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

#next_question{
    background: chartreuse;
    display: inline-block;
    margin: .5rem auto;
    padding: .35rem .7rem;
    border-radius: 3px;
}
#custom_question{
    max-width: 25rem;
    // background: blue;
}
