@import "base/base.scss";
@import "base/variables.scss";
@import "base/animations.scss";
@import "base/utilities.scss";
@import "base/typography.scss";
@import "components/buttons.scss";
@import "components/chat.scss";
@import "components/lists.scss";
@import "components/modal.scss";
@import "components/progressRing.scss";
@import "components/form.scss";
@import "components/quiz";
@import "pages/home.scss";
@import "pages/triviaHome.scss";
@import "pages/triviaMain.scss";

.hidden{
    visibility: hidden;
    height: 0;
}

.multipleChoice{
    &__answer{
        width: 80%;
        margin: 0 auto;
    }
}

//BOOTSTRAP CLASS MODIFICATIONS

.form-floating{
    max-width: 25rem;
    margin: .5rem auto;
}
#quiz_submit{
    display: inline-block;
    background: $color-green;
    color: $color-white;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 3px;
    // position: absolute;
    // left: 50%;
    // transform: translate(-50%, 50%);
}

#next_question{
    background: chartreuse;
    display: inline-block;
    margin: .5rem auto;
    padding: .35rem .7rem;
    border-radius: 3px;
}
#custom_question{
    max-width: 25rem;
    // background: blue;
}
