.btn{
    padding: .5rem 1rem;
    border-radius: .25rem;
    text-decoration: none;
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: 700;

    &__primary{
        color: white;
        background: #0D6EFD;
        &:hover{
            background: #0B5ED7;
            color: #DAE7F9;
        }
    }
    &__secondary{
        background: #157347;
        color: $color-tertiary;
        border: 2px solid darken(#198754, 10%);
        transition: all .4s ease;
        &:hover{
            background: $color-tertiary;
            color: #198754;
            border: 2px solid #198754;
        }
    }
    &__tertiary{
        transition: all .4s ease;
        background: $color-primary;
        color: $color-tertiary;
        border: 2px solid darken($color-primary, 10%);
        &:hover{
            color: $color-primary;
            background: $color-tertiary;
            border: 2px solid $color-primary;
        }
    }
    &__red{

    }
    &__small{
        
    }
    &__large{
        font-size: 1.2rem;
    }

    &:hover{
        cursor: pointer;
    }
}