.chat{
    position: fixed;
    bottom: 0;
    right: 2rem;
    width: min(32rem, 100%);
    overflow: hidden;
    font-family:'Noto Sans', sans-serif;
    border-radius: 3px;
    z-index: 1000;
    @include mq("small"){
        right: 0;
    }
    & h1 {
        margin-left: .75rem;
        font-size: 1.4rem;
        padding-top: .25rem;
        font-weight: 500;
        color: $color-white;
    }
    //close button
    &__close{
        display: flex;
        justify-content: space-between;
        // background: $color-primary;
        background: $color-primary;
    }
    // toggle button to show or hide chat window
    &__btn{
        padding: .25rem .75rem;
        cursor: pointer;
        width: 1rem;
        height: 1.8rem;
        position: relative;
        transition: all .3s ease-out;
        
        &:hover{
            background: $color-red;
            // color: $color-secondary;
        }
        & div{
            //chat window is shown
            margin-top: .9rem;
            background: transparent;
            position: relative;

            &,
            &::before,&::after{
                height: 2px;
                width: 1.2rem;
                display: inline-block;
            }
            
            &::before,
            &::after{
                background: $color-white;
                content: "";
                position: absolute;
                left: 0;
                transition: all 1.2s;
            }

            &::after{
                transform: rotate(-135deg);
            }

            &::before{
                transform: rotate(135deg);
            }

        }
        &--expand > div{
            // chat window is hidden
            background-color: $color-white;
            transition: background-color .6s .8s;
            transform: rotate(90deg);
            &::after,&::before{
                width: 60%;
            }
            &::after{
                transform: rotate(45deg);
                top: .2rem;
                left: -.1rem;
            }
            &::before{
                top: -.2rem;
                left: -.1rem;
            }
        }
    }
    &__main{
        max-height: 100rem;
        transition: all .8s linear;
        
        // class to hide main chat window
        &--hide{
            max-height: 0;
            visibility: hidden;
        }
    }
    //message container
    &__messages{
        height: 15rem;
        overflow-y: scroll;
        scrollbar-color: $color-grey-dark $color-grey;
        scrollbar-width: thin;
        background: $color-grey;
        padding: .25rem .5rem;
    }
    // messenger user
    &__user{
        font-weight: 700;
        &--main{
            color: $color-primary;
        }
        &--alt{
            color: $color-secondary;
        }
    }
    // indivdual message 
    &__item{
        background-color: $color-grey;
        &:nth-of-type(2n){
            background-color: darken($color-grey, 10%);
        }
        & > p {
            //remove bootstrap margin on paragraph
            display: inline-block;
            color: $color-grey-dark;
            &::first-letter{
                margin-left: .25rem;
            }
        }
    }
    &__hidden{
        height: 0;
        visibility: hidden;

        & > * {

        }
    }
    //text input and submit button for chat room
    &__form{
        display: flex;
        & > input {
            font-family:'Noto Sans', sans-serif;
            font-size: 1rem;
            flex: 1 0 80%;
        }
        & > button{
            flex: 0 0 20%;
        }
        & > input {
            border: none;
        }
    }
    &__username{
        display: flex;
        background: $color-grey;
        & > p {
            margin-right: 1rem;
        }
        & > input {
            flex: 1;
        }
    }
    &__close{

    }
}