.quiz{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: $color-grey;
    overflow: hidden;
    // background: $color-grey;

    &__history{
        border-right: 2px solid $color-grey;
        background: $color-grey-dark;
        flex: 0 0 20%;
        max-height: 100vh;
        overflow: scroll;
        &--answers{
            & > h1 {
                margin-top: 2rem;
                @include mq("small"){
                    margin-top: .5rem;
                }
            }
            & > h1, h6 {
                font-family: $font-primary;
                letter-spacing: 1px;
                color: $color-white;
            }
            & > h6 {
                color: $color-secondary;
                font-weight: 600;
                margin-bottom: 2rem;
            }
            & > ol{
                // overflow-y: scroll;
            } 
            & > ol li {
                //list of answers
                position: relative;
                list-style-position: inside;
                font-family: $font-secondary;
                padding: 0 1rem .8rem 1rem;
                font-size: 1.1rem;
                background: lighten($color-grey-dark, 15%);
                color: $color-white;
                cursor: pointer;

                &:hover{
                    background: $color-primary;
                }
            }
            
            // list marker style
            & > ol li::marker{
                font-family: $font-primary;
                color: yellow !important;
                font-size: 2rem;
                display: inline-flex;
                position: absolute;
                top: -1rem;
            }
            & > ol li:nth-of-type(2n){
                background: lighten($color-grey-dark, 10%);
                color: $color-white;
                &:hover{
                    background: $color-primary;
                }
            }
        }
        //make a slide out for small screens
        @include mq("medium"){
            position: relative;
            flex: 0 0 0%;
            visibility: hidden;
            width: 0;
            transition: all .6s ease-in;
             &--answers {
                 opacity: 0;
                 visibility: hidden;
                 transition:  opacity .2s .8s ease-in;

                
             }
            &--expand{
                flex: 1 0 90%;
                width: 90%;
                opacity: 1;
                visibility: visible;
                overflow-y: scroll;
                padding-bottom: 2.1rem;
                //history answer styles when visible
                & .quiz__history--answers {
                    overflow-y: scroll;
                    opacity: 1;
                    visibility: visible;
                    width: 100%;
                    transition: visibility .1s .9s, opacity .1s 1s ease-in;
                }
            }
        }
        @include mq("phone"){
            & > * {
                opacity: 0;
            }
            &--expand{
                flex: 1 0 100%;
                & > * {
                    opacity: 1;
                }
                & > .quiz__history--btn{
                    right: 0;
                    transform: translate(0%);
                }
            }
        }

        &--btn{
            visibility: hidden;
            background: green;
            position: absolute;
            right: 0;
            transform: translate(99%);
            padding: .25rem .5rem;
            @include mq("medium"){
                visibility: visible;
                opacity: 1;
                //the transform sticks the button to the outside of the element
            }
            @include mq("phone"){
                right: 0;
            }
        }
    }
    &__content{
        flex: 0 0 70%;
        display: flex;
        flex-direction: column;
        border: 3px solid $color-grey-dark;
        border-radius: 3px;
        overflow: hidden;
        background: $color-tertiary;
        position: relative;
        // background: $color-secondary;
        min-height: 80vh;
        margin: 5rem auto;

        &--hide{
            opacity: 0;
            visibility: hidden;
            height: 0;
            padding: 0;
            transition: all .2s ease-out;
        }

        @include mq("small"){
            flex: 0 0 90%;
            margin: 2rem auto 2.5rem auto;
            visibility: visible;
            opacity: 1;
            transition: all .2s .8s ease-in;
        }

        @include mq("phone"){
            flex: 1;
        }

    }
    &__question{
        width: 80%;
        position: relative;
        margin: 0 auto;
        & > h1 {
            position: relative;
            text-align: center;
            font-size: 1.85rem;
            padding: 2rem .25rem 1rem .25rem;
            line-height: 2.5rem;
            letter-spacing: 2px;
            width: min(45ch, 100%);
            font-family: $font-primary;
            color: $color-white;
            margin: 0 auto;
            z-index: 1000
        }
        &--background{
            width: 110%;
            height: 100%;
            display: inline-block;
            position: absolute;
            top: .5rem;
            left: 50%;
            transform: translate(-50%);
            z-index: 100;
            filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
            
            &::before{
                content:"";
                height: 100%;
                width: 100%;
                position: absolute;
                clip-path: polygon(50% 0%, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0 50%, 6% 0);
                background: $color-primary;
            }
        }
    }
    &__answer{
        position: relative;
        &--container{
            // position: absolute;
            // background: red;
            width: 100%;
            // background: $color-tertiary;
            flex: 1;
            padding: 2.5rem 0;
            display: flex;
            gap: 2.5rem 0;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        // background: $color-grey;
        &--multiple{
            width: max(40%, 22rem);
            display: flex;
            justify-content: center;
            align-items: center;
            // background: $color-primary;
            border: 2px solid $color-primary;
            background: $color-grey;
            color: $color-grey-dark;
            border-radius: 2px;
            filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
            cursor: pointer;
            &:hover{
                background: $color-secondary;
                border: 2px solid lighten($color-secondary, 10%);
                color: $color-grey;
            }
            & > p {
                font-family: $font-secondary;
                width: 66%;
                font-size: 1.2rem;
                font-weight: 700;
                text-align: center;
                //prevents the click event from firing only on the p element
                pointer-events: none;
             }
        }
        &--written{
            position: absolute;
            top: 5rem;
            left: 50%;
            transform: translate(-50%);
        }

        &--submit{
            
            & > button{
            display: block;
            background: green;
            font-family: $font-secondary;
            letter-spacing: 1px;
            align-self: center;
            padding: .5rem 1rem;
            border: none;
            margin: 1rem auto;
            transition: color 1s .3s ease-out;
            cursor: pointer;
            color: $color-white;
            // animation: spinOut .8s ease-in;
            // text-align: center;
            &::before, &::after{
                content:"";
                position: absolute;
                width: 4px;
                opacity: 0;
                // transition: opacity .2s .6s;
            }
            &::before{
                height: 1.3rem;
                bottom: 8px;
                left: 15px;
                transform: rotate(45deg);
                background: green;
            }
            &::after{
                position: absolute;
                height: .6rem;
                bottom: 18px;
                left: 24px;
                transform: rotate(315deg);
                background: green;
            }
        }
        &-check{
            & > button {
                padding: 0;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                border: 2px solid green;
                background: $color-grey;
                position: relative;
                color: transparent;
                // transition: all .8s cubic-bezier(.81,1.22,.5,.11);
                transition: height .8s ease-in, width .8s ease-in, border-radius .8s ease-in;
                animation: spin .8s forwards ease-in-out;
                &::before, &::after{
                    content:"";
                    position: absolute;
                    width: 4px;
                    opacity: 1;
                    transition: opacity .2s .6s;
                    }  
                }
            }
        }

        &--selected{
            background: $color-secondary;
            color: $color-grey;
            border: 2px solid lighten($color-secondary, 10%);
        }
    }

    &__controls{
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        bottom: 0;
        margin-bottom: 1rem;
        @include mq("small"){
            position: relative;
        }
    }
}
