.quiz{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: $color-grey;
    // background: $color-grey;

    &__history{
        border-right: 2px solid $color-grey;
        background: $color-grey-dark;
        flex: 0 0 20%;
        
        //make a slide out for small screens
        @include mq("medium"){
            position: relative;
            flex: 0 0 0%;
            visibility: hidden;
            width: 0;
            transition: all .6s ease-in;
             &--answers {
                 opacity: 0;
                 visibility: hidden;
                 transition:  opacity .2s .8s ease-in;
             }
            &--expand{
                flex: 1 0 90%;
                width: 90%;
                opacity: 1;
                visibility: visible;
                & .quiz__history--answers {
                    opacity: 1;
                    visibility: visible;
                    width: 100%;
                    background: purple;
                    transition: visibility .1s .9s, opacity .1s 1s ease-in;
                }
            }
        }
        @include mq("phone"){
            & > * {
                opacity: 0;
            }
            &--expand{
                flex: 1 0 100%;
                & > * {
                    opacity: 1;
                }
                & > .quiz__history--btn{
                    right: 0;
                    transform: translate(0%);
                }
            }
        }

        &--btn{
            visibility: hidden;
            background: green;
            position: absolute;
            right: 0;
            transform: translate(99%);
            padding: .25rem .5rem;
            @include mq("medium"){
                visibility: visible;
                opacity: 1;
                //the transform sticks the button to the outside of the element
            }
            @include mq("phone"){
                right: 0;
            }
        }
    }
    &__content{
        flex: 0 0 70%;
        display: flex;
        flex-direction: column;
        border: 3px solid $color-grey-dark;
        border-radius: 3px;
        overflow: hidden;
        background: $color-tertiary;
        // background: $color-secondary;
        min-height: 80vh;
        margin: 5rem auto;
        @include mq("small"){
            flex: 0 0 90%;
            margin: 2rem auto;
        }

        @include mq("phone"){
            flex: 1;
        }

    }
    &__question{
        width: 80%;
        position: relative;
        margin: 0 auto;
        & > h1 {
            position: relative;
            text-align: center;
            font-size: 1.85rem;
            padding: 2rem .25rem 1rem .25rem;
            line-height: 2.5rem;
            letter-spacing: 2px;
            width: min(45ch, 100%);
            font-family: $font-primary;
            color: $color-white;
            margin: 0 auto;
            z-index: 1000
        }
        &--background{
            width: 110%;
            height: 100%;
            display: inline-block;
            position: absolute;
            top: .5rem;
            left: 50%;
            transform: translate(-50%);
            z-index: 100;
            filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
            
            &::before{
                content:"";
                height: 100%;
                width: 100%;
                position: absolute;
                clip-path: polygon(50% 0%, 94% 0, 100% 50%, 94% 100%, 6% 100%, 0 50%, 6% 0);
                background: $color-primary;
            }
        }
    }
    &__answer{
        background: $color-tertiary;
        // background: $color-secondary;
        flex: 1;
        padding: 2.5rem 0;
        display: flex;
        gap: 2.5rem 0;
        flex-wrap: wrap;
        justify-content: space-around;

        &--multiple{
            width: max(40%, 22rem);
            display: flex;
            justify-content: center;
            align-items: center;
            // background: $color-primary;
            border: 2px solid $color-primary;
            background: $color-grey;
            color: $color-grey-dark;
            border-radius: 2px;
            filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
            & > p {
                font-family: $font-secondary;
                width: 66%;
                font-size: 1.2rem;
                font-weight: 700;
                text-align: center;
             }
        }
    }
    &__controls{
        // height: 2rem;
        // background: red;
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
    }
}